<div class="col-lg-8">
    <h2 class="news-page-title">Các bài viết mới nhất</h2>
    <div class="row g-4 news-list-grid">
        <div class="col-md-6">
            <article class="news-list-card">
                <a class="news-list-image" href="#">
                    <img src="{{ROOT}}img/du-an-do-thi.jpg" alt="Siêu đô thị biển Blanca City Vũng Tàu">
                </a>
                <div class="news-list-content">
                    <div class="news-meta">
                        <span>Thị trường</span>
                        <time datetime="2026-07-21">21/07/2026</time>
                    </div>
                    <h3>SIÊU ĐÔ THỊ BIỂN BLANCA CITY VŨNG TÀU [TẤT TẦN TẬT THÔNG TIN]</h3>
                    <p>Blanca City Vũng Tàu là siêu đô thị biển mới nhất do Sun Group kiến tạo tại cun...</p>
                    <a class="news-read-more" href="#">Xem thêm <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </article>
        </div>
        <div class="col-md-6">
            <article class="news-list-card">
                <a class="news-list-image" href="#">
                    <img src="{{ROOT}}img/hero.webp" alt="Căn hộ Gladia Khang Điền">
                </a>
                <div class="news-list-content">
                    <div class="news-meta">
                        <span>Dự án</span>
                        <time datetime="2026-07-21">21/07/2026</time>
                    </div>
                    <h3>Căn hộ Gladia Khang Điền: 8 loại căn, diện tích, giá dự kiến &amp; cách chọn tháp (2026)</h3>
                    <p>Căn hộ Gladia Khang Điền (phân khu cao tầng Gladia Heights) có 8 dòng sả...</p>
                    <a class="news-read-more" href="#">Xem thêm <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </article>
        </div>
        <div class="col-md-6">
            <article class="news-list-card">
                <a class="news-list-image" href="#">
                    <img src="{{ROOT}}img/banner-1.jpg" alt="Thuế bất động sản">
                </a>
                <div class="news-list-content">
                    <div class="news-meta">
                        <span>Pháp lý</span>
                        <time datetime="2026-07-21">21/07/2026</time>
                    </div>
                    <h3>Thuế bất động sản gồm những gì? Cập nhật quy định và đề xuất mới nhất năm 2026</h3>
                    <p>Thuế bất động sản luôn là chủ đề được nhà đầu tư và người sở hữu nhiều tài sả...</p>
                    <a class="news-read-more" href="#">Xem thêm <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </article>
        </div>
        <div class="col-md-6">
            <article class="news-list-card">
                <a class="news-list-image" href="#">
                    <img src="{{ROOT}}img/biet-thu-Melia-Ho-Tram-2.jpeg" alt="Lãi suất vay mua nhà">
                </a>
                <div class="news-list-content">
                    <div class="news-meta">
                        <span>Tài chính</span>
                        <time datetime="2026-07-21">21/07/2026</time>
                    </div>
                    <h3>Lãi suất vay mua nhà 2026 – Người mua nhà cần lưu ý gì trước khi xuống tiền?</h3>
                    <p>Trong bối cảnh thị trường bất động sản từng bước phục hồi, lãi suất vay mua...</p>
                    <a class="news-read-more" href="#">Xem thêm <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </article>
        </div>
        <div class="col-md-6">
            <article class="news-list-card">
                <a class="news-list-image" href="#">
                    <img src="{{ROOT}}img/partner-mobile-2025.jpg" alt="Bảng giá đất TPHCM 2026">
                </a>
                <div class="news-list-content">
                    <div class="news-meta">
                        <span>Quy hoạch</span>
                        <time datetime="2026-07-21">21/07/2026</time>
                    </div>
                    <h3>Bảng giá đất TPHCM 2026: Giá các trục đường chính thay đổi ra sao?</h3>
                    <p>Bảng giá đất TPHCM 2026 chính thức được áp dụng từ ngày 1/1/2026 trên toà...</p>
                    <a class="news-read-more" href="#">Xem thêm <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </article>
        </div>
        <div class="col-md-6">
            <article class="news-list-card">
                <a class="news-list-image" href="#">
                    <img src="{{ROOT}}img/tong-the-F1-2-view4.jpg" alt="Giá nhà đất TPHCM 2026">
                </a>
                <div class="news-list-content">
                    <div class="news-meta">
                        <span>Phân tích</span>
                        <time datetime="2026-07-21">21/07/2026</time>
                    </div>
                    <h3>Giá nhà đất TP.HCM 2026: Mặt bằng giá sau sáp nhập biến động ra sao?</h3>
                    <p>Sau khi TP.HCM chính thức mở rộng địa giới hành chính từ ngày 1/7/2025, thi...</p>
                    <a class="news-read-more" href="#">Xem thêm <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </article>
        </div>
    </div>

    <div class="news-pagination">
        <a class="active" href="#" aria-label="Trang 1">1</a>
        <a href="#" aria-label="Trang 2">2</a>
        <a href="#" aria-label="Trang sau"><i class="fa-solid fa-angle-right"></i></a>
    </div>
</div>
