<section class="section">
        <div class="container">

            <h2 class="section-title">
                Hạng mục công việc
            </h2>

            <ul class="project-work-list">
                <li>Thiết kế Website bán hàng.</li>
                <li>Thiết kế Landing Page.</li>
                <li>Thiết kế Banner quảng cáo.</li>
                <li>Sáng tạo nội dung (Content Marketing).</li>
                <li>Quản trị Fanpage Facebook.</li>
                <li>Triển khai Facebook Ads.</li>
                <li>Triển khai Google Ads.</li>
                <li>Tối ưu SEO Website.</li>
            </ul>

        </div>
    </section>