    <section class="member-company">

        <div class="container">

            <div class="member-title">
                <h2>
                    HỆ THỐNG <span>CÔNG TY THÀNH VIÊN</span>
                </h2>
            </div>

            <div class="member-wrapper">

                <!-- LEFT -->
                <div class="member-map">
                    <img data-src="img/bando.jpg" alt="">
                </div>

                <!-- RIGHT -->
                <div class="member-right">

                    <div class="member-stat">
                        <h1>+40</h1>

                        <p>
                            Công ty thành viên,
                            <br>
                            chi nhánh trên toàn quốc.
                        </p>
                    </div>

                    <div class="member-search">
                        <input type="text" placeholder="Tìm công ty thành viên và chi nhánh">

                        <button>
                            🔍
                        </button>
                    </div>

                    <div class="company-list">

                        <ul>

                            <li>Công ty TNHH MTV Regal Hotels & Resorts</li>

                            <li>Công ty TNHH Nhà Ở Ngay</li>

                            <li>Công ty TNHH Nông Nghiệp Lifarm</li>

                            <li>Công ty TNHH Đầu tư Xây dựng Ngọc Lễ</li>

                            <li>Công ty TNHH Công Nghệ S-TECH</li>

                            <li>Công ty CP Bất động sản Linkhouse</li>

                            <li>Công ty CP Dịch vụ BĐS DMH Group</li>

                            <li>Công ty TNHH Đầu tư Linkland</li>

                            <li>Công ty ABC</li>

                            <li>Công ty XYZ</li>

                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </section>
