    <section class="partner-section">

        <div class="container">

            <h2 class="partner-title">
                <span>ĐỐI TÁC</span>
                <span class="orange">TÀI CHÍNH</span>
            </h2>

            <div class="swiper partnerSwiper">

                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <img data-src="img/BIDV-logo.png" alt="">
                    </div>

                    <div class="swiper-slide">
                        <img data-src="img/mb-bank-logo.png" alt="">
                    </div>

                    <div class="swiper-slide">
                        <img data-src="img/mbv-bank-logo.png" alt="">
                    </div>

                    <div class="swiper-slide">
                        <img data-src="img/msb-bank-logo.png" alt="">
                    </div>

                    <div class="swiper-slide">
                        <img data-src="img/tp-bank-logo.png" alt="">
                    </div>

                    <div class="swiper-slide">
                        <img data-src="img/vietin-bank-logo.png" alt="">
                    </div>

                    <div class="swiper-slide">
                        <img data-src="img/vina-capital-logo.png" alt="">
                    </div>

                    <div class="swiper-slide">
                        <img data-src="img/vpbank-logo.png" alt="">
                    </div>

                </div>

                <div class="swiper-pagination partner-pagination"></div>

            </div>

        </div>

    </section>
