    <section class="project-partner">

        <div class="container">

            <h2 class="partner-title">
                <span>ĐỐI TÁC</span>
                <span class="orange">PHÁT TRIỂN DỰ ÁN</span>
            </h2>

            <div class="partner-grid">

                <div class="partner-item">
                    <img data-src="img/ttf.png" alt="">
                </div>

                <div class="partner-item">
                    <img data-src="img/cadivi.png" alt="">
                </div>

                <div class="partner-item">
                    <img data-src="img/kohler.png" alt="">
                </div>

                <div class="partner-item">
                    <img data-src="img/tonhoasen.png" alt="">
                </div>

                <div class="partner-item">
                    <img data-src="img/apave.png" alt="">
                </div>

                <div class="partner-item">
                    <img data-src="img/logo2.png" alt="">
                </div>
                <div class="partner-item">
                    <img data-src="img/cpg-logo.png" alt="">
                </div>

                <div class="partner-item">
                    <img data-src="img/ancuong.png" alt="">
                </div>

                <div class="partner-item">
                    <img data-src="img/toto.png" alt="">
                </div>

                <div class="partner-item">
                    <img data-src="img/logo1.png" alt="">
                </div>

                <div class="partner-item">
                    <img data-src="img/logo8.png" alt="">
                </div>

                <div class="partner-item">
                    <img data-src="img/kone.png" alt="">
                </div>

            </div>

        </div>

    </section>
