    <section class="service-network">

        <div class="container">

            <!-- Tiêu đề -->
            <span class="section-subtitle" id="serviceSubtitle">
                NĂNG LỰC VƯỢT TRỘI
            </span>

            <h2 class="section-title" id="serviceTitle">
                DỊCH VỤ TOÀN DIỆN
            </h2>

            <!-- Tabs -->
            <div class="ability-tabs">

                <button class="ability-tab active" data-tab="tab1" data-subtitle="NĂNG LỰC VƯỢT TRỘI"
                    data-title="DỊCH VỤ TOÀN DIỆN">

                    NĂNG LỰC TOÀN DIỆN

                </button>

                <button class="ability-tab" data-tab="tab2" data-subtitle="NĂNG LỰC PHÁT TRIỂN"
                    data-title="DỰ ÁN & BÁN HÀNG XUẤT SẮC">

                    NĂNG LỰC PHÁT TRIỂN DỰ ÁN & BÁN HÀNG XUẤT SẮC

                </button>

                <button class="ability-tab" data-tab="tab3" data-subtitle="NĂNG LỰC" data-title="TÀI CHÍNH">

                    NĂNG LỰC TÀI CHÍNH

                </button>

            </div>

            <!-- ================= TAB 1 ================= -->

            <div class="tab-content active" id="tab1">

                <div class="network">

                    <div class="info-popup" id="infoPopup">
                        <p id="popupText">
                            Di chuột vào logo để xem thông tin.
                        </p>
                    </div>

                    <img data-src="img/logo1.png" class="logo logo1" data-info="Thông tin của Logo 1">

                    <img data-src="img/logo2.png" class="logo logo2" data-info="Thông tin của Logo 2">

                    <img data-src="img/logo3.png" class="logo logo3" data-info="Thông tin của Logo 3">

                    <img data-src="img/logo4.png" class="logo logo4" data-info="Thông tin của Logo 4">

                    <img data-src="img/center-circle.png" class="center-circle" alt="">

                    <img data-src="img/logo5.png" class="logo logo5" data-info="Thông tin Logo 5">

                    <img data-src="img/logo6.png" class="logo logo6" data-info="Thông tin Logo 6">

                    <img data-src="img/logo7.png" class="logo logo7" data-info="Thông tin Logo 7">

                    <img data-src="img/logo8.png" class="logo logo8" data-info="Thông tin Logo 8">

                </div>

            </div>

            <!-- ================= TAB 2 ================= -->

            <div class="tab-content" id="tab2">

                <div class="sale-network">

                    <!-- Hàng 1 -->
                    <div class="row row-1">
                        <img data-src="img/logo3.png" class="sale-logo">
                    </div>

                    <!-- Hàng 2 -->
                    <div class="row row-2">
                        <img data-src="img/logo3.png" class="sale-logo">
                        <img data-src="img/logo3.png" class="sale-logo">
                        <img data-src="img/logo3.png" class="sale-logo">
                    </div>

                    <!-- Hàng 3 -->
                    <div class="row row-3">
                        <img data-src="img/logo3.png" class="sale-logo">
                        <img data-src="img/logo3.png" class="sale-logo">
                        <img data-src="img/logo3.png" class="sale-logo">
                        <img data-src="img/logo3.png" class="sale-logo">
                        <img data-src="img/logo3.png" class="sale-logo">
                        <img data-src="img/logo3.png" class="sale-logo">
                        <img data-src="img/logo3.png" class="sale-logo">
                    </div>

                    <!-- Hàng 4 -->
                    <div class="row row-4">
                        <img data-src="img/logo3.png" class="sale-logo">
                        <img data-src="img/logo3.png" class="sale-logo">
                        <img data-src="img/logo3.png" class="sale-logo">
                        <img data-src="img/logo3.png" class="sale-logo">
                        <img data-src="img/logo3.png" class="sale-logo">
                        <img data-src="img/logo3.png" class="sale-logo">
                    </div>

                    <!-- Hàng 5 -->
                    <div class="row row-5">
                        <img data-src="img/logo3.png" class="sale-logo">
                        <img data-src="img/logo3.png" class="sale-logo">
                        <img data-src="img/logo3.png" class="sale-logo">
                    </div>

                </div>

            </div>

            <!-- ================= TAB 3 ================= -->

            <!-- ================= TAB 3 ================= -->
            <div class="tab-content" id="tab3">

                <div class="finance-network">
                    <img data-src="img/nangluc-taichinh-1.png" alt="Năng lực tài chính" class="finance-image">
                </div>

            </div>

        </div>

    </section>
