<section class="career-section" id="career">
    <div class="career-banner">
        <div class="container text-center">
            <h2>Cơ hội nghề nghiệp</h2>
            <a class="btn btn-primary-custom btn-small" href="#contact">Ứng tuyển ngay</a>
        </div>
    </div>
    <div class="container narrow-container presence-block">
        <h2 class="section-title text-center">Smartland đã có mặt tại</h2>
        <div class="row g-4 office-list">
            <div class="col-lg-6">
                <p><i class="fa-solid fa-location-dot"></i><strong>Head Office:</strong> Tòa nhà Đại Dũng, 92 Nguyễn Hữu Cảnh, Phường 22, Quận Bình Thạnh, TP. Hồ Chí Minh</p>
                <p><i class="fa-solid fa-location-dot"></i><strong>Hà Nội:</strong> Tòa Nhà Sao Mai Lầu 4, Số 19 Lê Văn Lương, Quận Thanh Xuân, Hà Nội</p>
                <p><i class="fa-solid fa-location-dot"></i><strong>Hà Nội:</strong> Tòa nhà Sao Mai Lầu 5, Số 19 Lê Văn Lương, Quận Thanh Xuân, Hà Hà Nội</p>
            </div>
            <div class="col-lg-6">
                <p><i class="fa-solid fa-location-dot"></i><strong>Đà Nẵng 1:</strong> Lầu 6, 218 Trần Hưng Đạo, Q.Sơn Trà, TP Đà Nẵng</p>
                <p><i class="fa-solid fa-location-dot"></i><strong>Đà Nẵng 2:</strong> Lô 10, Khu B2 - 3, Đường Nguyễn Phước Lan, Phường Hòa Xuân, Đà Nẵng</p>
                <p><i class="fa-solid fa-location-dot"></i><strong>Vinh - Nghệ An:</strong> 130 Nguyễn Sỹ Sách, Phường Hưng Phúc, TP Vinh Nghệ An</p>
                <p><i class="fa-solid fa-location-dot"></i><strong>Long An:</strong> K15 Eco Bazzar, Đường Nguyễn Hữu Trí, Xã Bến Lức, Tỉnh Tây Ninh (Long An cũ)</p>
                <p><i class="fa-solid fa-location-dot"></i><strong>Quận 12:</strong> Lô 3 tầng 3, Tòa nhà Genpacific, Đường số 16, Công viên Phần mềm Quang Trung, P. Trung Mỹ Tây, TP. HCM</p>
            </div>
        </div>
    </div>
</section>
