<section class="news-section section-padding" id="news">
    <div class="container narrow-container">
        <h2 class="section-title">Tin tức</h2>
        <div class="row g-4 news-grid">
            <div class="col-md-6 col-lg-4">
                <article class="news-card">
                    <a class="news-image" href="#">
                        <img src="{{ROOT}}img/du-an-do-thi.jpg" alt="Siêu đô thị biển Blanca City Vũng Tàu">
                    </a>
                    <div class="news-content">
                        <h3>SIÊU ĐÔ THỊ BIỂN BLANCA CITY VŨNG TÀU [TẤT TẦN TẬT THÔNG TIN]</h3>
                        <p>Blanca City Vũng Tàu là siêu đô thị biển mới nhất do Sun Group kiến tạo...</p>
                        <a class="text-link" href="#">Xem thêm <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-lg-4">
                <article class="news-card">
                    <a class="news-image" href="#">
                        <img src="{{ROOT}}img/hero.webp" alt="Căn hộ Gladia Khang Điền">
                    </a>
                    <div class="news-content">
                        <h3>Căn hộ Gladia Khang Điền: 8 loại căn, diện tích, giá dự kiến &amp; cách chọn tháp (2026)</h3>
                        <p>Căn hộ Gladia Khang Điền (phân khu cao tầng Gladia Heights) có 8 dòng...</p>
                        <a class="text-link" href="#">Xem thêm <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-lg-4">
                <article class="news-card">
                    <a class="news-image" href="#">
                        <img src="{{ROOT}}img/biet-thu-Melia-Ho-Tram-2.jpeg" alt="Thuế bất động sản">
                    </a>
                    <div class="news-content">
                        <h3>Thuế bất động sản gồm những gì? Cập nhật quy định và đề xuất mới nhất năm 2026</h3>
                        <p>Thuế bất động sản luôn là chủ đề được nhà đầu tư và người sở hữu...</p>
                        <a class="text-link" href="#">Xem thêm <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </article>
            </div>
        </div>
        <div class="text-center mt-5">
            <a class="btn btn-primary-custom btn-small" href="{{ROOT}}pages/tin-tuc/">Xem thêm</a>
        </div>
    </div>
</section>
