<section class="category-section section-padding" id="services">
    <div class="container narrow-container">
        <h2 class="section-title">Hạng mục sản phẩm</h2>
        <div class="row g-5">
            <div class="col-md-6">
                <article class="category-card">
                    <a class="image-link" href="#">
                        <img src="{{ROOT}}img/biet-thu-Melia-Ho-Tram-2.jpeg" alt="Dự án nghỉ dưỡng">
                    </a>
                    <h3>Dự án nghỉ dưỡng</h3>
                    <p>Smartland giới thiệu tới khách hàng bộ sưu tập biệt thự biển đẳng cấp được bảo chứng bởi các thương hiệu hàng đầu quốc tế Marriott, Hyatt, Banyan Tree...</p>
                    <a class="text-link" href="#">Xem thêm <i class="fa-solid fa-arrow-right"></i></a>
                </article>
            </div>
            <div class="col-md-6">
                <article class="category-card">
                    <a class="image-link" href="#">
                        <img src="{{ROOT}}img/du-an-do-thi.jpg" alt="Dự án đô thị">
                    </a>
                    <h3>Dự án đô thị</h3>
                    <p>Smartland lựa chọn phân phối các dự án có vị trí đẹp, pháp lý rõ ràng, tiện ích hấp dẫn cùng tiềm năng sinh lời lâu dài tại Thành phố Hồ Chí Minh</p>
                    <a class="text-link" href="#">Xem thêm <i class="fa-solid fa-arrow-right"></i></a>
                </article>
            </div>
        </div>
    </div>
</section>
