<section class="section">

        <div class="container">

            <h2 class="section-title">
                Hạng mục công việc
            </h2>

            <ul class="project-work-list">
                <li>Thiết kế Website doanh nghiệp.</li>
                <li>Xây dựng bộ nhận diện truyền thông.</li>
                <li>Quản trị Fanpage Facebook.</li>
                <li>Sáng tạo nội dung (Content Marketing).</li>
                <li>Thiết kế Banner, Poster.</li>
                <li>Triển khai quảng cáo Facebook Ads.</li>
                <li>Tối ưu SEO Website.</li>
            </ul>

        </div>

    </section>