<section class="about-hero">
  <img src="https://images.unsplash.com/photo-1600607687939-ce8a6c25118c?auto=format&fit=crop&w=1920&q=85" alt="Thang máy biệt thự cao cấp">
  <div class="about-hero__overlay"></div>
  <div class="container about-hero__content">
    <span>Thành lập 2006</span>
    <h1>18 năm đồng hành<br><strong>Nâng tầm Việt Nam</strong></h1>
    <div class="about-hero__logo">
      <b>FUJI</b>
      <small>Oriental Elevator Technology J.S.C<br>Since 2006</small>
    </div>
    <p>Đại diện ủy quyền chính thức <strong>FUJI KOREA</strong> - hơn <strong>7.000 thang máy</strong> đã lắp đặt trên toàn quốc</p>
    <div class="hero__buttons">
      <a class="btn btn--red btn--large" href="{{ROOT}}index.html#contact">Tư vấn miễn phí</a>
      <a class="btn btn--glass btn--large" href="{{ROOT}}pages/du-an/">Xem dự án</a>
    </div>
  </div>
</section>
