<section class="ecosystem-service">

    <div class="ecosystem-wrapper">

        <!-- Ảnh ở giữa -->
        <div class="ecosystem-center">
            <img data-src="img/tru-cot.svg" alt="">
        </div>

        <!-- 01 -->
        <div class="item item-1">
            <span>01</span>
            <h3>
                NHÀ ĐẦU TƯ, TỔ CHỨC TÀI CHÍNH,
                QUỸ ĐẦU TƯ HÀNG ĐẦU THẾ GIỚI
            </h3>
        </div>

        <!-- 02 -->
        <div class="item item-2">
            <span>02</span>
            <h3>
                NHÀ TƯ VẤN THIẾT KẾ,
                PHÁP LÝ DỰ ÁN CHUYÊN NGHIỆP
            </h3>
        </div>

        <!-- 03 -->
        <div class="item item-3">
            <span>03</span>
            <h3>
                NHÀ BÁN HÀNG,
                MARKETING HIỆU QUẢ
            </h3>
        </div>

        <!-- 04 -->
        <div class="item item-4">
            <span>04</span>
            <h3>
                NHÀ CUNG CẤP
                VẬT LIỆU UY TÍN
            </h3>
        </div>

        <!-- 05 -->
        <div class="item item-5">
            <span>05</span>
            <h3>
                NHÀ BANK
            </h3>
        </div>

    </div>

</section>
