<section class="section">
        <div class="container">

            <h2 class="section-title">
                Hạng mục công việc
            </h2>

            <ul class="project-work-list">
                <li>Xây dựng chiến lược truyền thông thương hiệu.</li>
                <li>Thiết kế hình ảnh nhận diện trên nền tảng số.</li>
                <li>Sản xuất nội dung Facebook và Website.</li>
                <li>Quản lý Fanpage và triển khai quảng cáo.</li>
                <li>Thiết kế landing page cho các chương trình đào tạo.</li>
                <li>Thực hiện video truyền thông.</li>
            </ul>

        </div>
    </section>