<section class="about-company">

    <div class="container">

        <div class="about-wrapper">

            <!-- Nội dung -->
            <div class="about-content">

                <span class="about-subtitle">
                    GIỚI THIỆU
                </span>

                <h2 class="about-title">
                    Giới thiệu về<br>
                    <span>Dat Xanh Services</span>
                </h2>

                <p>
                    Công ty Cổ phần Dịch vụ Bất động sản Đất Xanh (Dat Xanh Services, DXS) - thành viên Dat Xanh Group - là đơn vị nắm giữ mảng dịch vụ Bất động sản của Tập đoàn Đất Xanh, quản trị xuyên suốt hoạt động kinh doanh BĐS của hệ thống các công ty thành viên trên toàn quốc.
                </p>

                <p>
                    Chúng tôi tiên phong cung cấp giải pháp phát triển dự án toàn diện cho chủ đầu tư – chủ đất và cam kết mang lại trải nghiệm dịch vụ vượt mong đợi đến tất cả Quý Đối tác và Quý Khách hàng, bảo chứng cho thành công của many dự án.
                </p>

                <p>
                    Dat Xanh Services đã và đang là đối tác phát triển dự án, tư vấn chiến lược, đồng thời là tổng thầu phân phối và môi giới thành công hàng loạt dự án lớn nhỏ cho hơn 250 chủ đầu tư trên toàn quốc.
                </p>

                <p>
                    Với tiềm lực mạnh, hệ sinh thái khép kín, hệ thống công ty thành viên trên toàn quốc, đội ngũ chuyên gia, đối tác hàng đầu cùng đội ngũ kinh doanh chuyên nghiệp, Dat Xanh Services đang khẳng định vị thế <strong>"Nhà phát triển dự án số 1 Việt Nam".</strong>
                </p>

            </div>

            <!-- Ảnh -->
            <div class="about-image">

                <img data-src="img/gioithieu/gioi-thieu.jpg" alt="Dat Xanh Services">

            </div>

        </div>

    </div>

</section>
