<section class="award-section">

    <div class="container">

        <div class="award-wrapper">

            <div class="award-left">
                <h2>GIẢI THƯỞNG</h2>
            </div>

            <div class="award-image">
                <img data-src="img/bg-giai-thuong.jpg" alt="">
            </div>

            <div class="award-content">

                <p>
                    Dat Xanh Services đã và đang khẳng định vị thế
                </p>

                <h3>
                    “NHÀ CUNG CẤP GIẢI PHÁP PHÁT TRIỂN DỰ ÁN TOÀN DIỆN HÀNG ĐẦU VIỆT NAM”
                </h3>

                <p>
                    với hàng loạt giải thưởng uy tín trong nước và quốc tế.
                </p>

            </div>

        </div>

    </div>

</section>
