<section class="benefit">

    <div class="container">

        <!-- Tiêu đề -->
        <div class="benefit-header">

            <div class="benefit-number">5</div>

            <div class="benefit-title">

                <h3>LỢI ÍCH</h3>

                <h2>KHU THAM GIA CÙNG ĐẤT XANH</h2>

            </div>

        </div>

        <div class="benefit-wrapper">

            <!-- BÊN TRÁI -->
            <div class="benefit-left">

                <img data-src="img/dich-vu-1.jpg" alt="">

            </div>

            <!-- BÊN PHẢI -->
            <div class="benefit-right">

                <div class="benefit-desc">

                    <p>

                        Chủ đất - Chủ đầu tư chỉ cần đồng hành và góp phần vốn đất,
                        toàn bộ quy trình sẽ do Dat Xanh Services tư vấn và thực hiện.
                        Cam kết Chủ đầu tư luôn nhận được giá trị tăng thêm.

                    </p>

                </div>

                <div class="swiper benefitSwiper">

                    <div class="swiper-wrapper">

                        <!-- Card -->

                        <div class="swiper-slide">

                            <div class="benefit-card">

                                <span class="card-number">1<span>/5</span></span>

                                <h3>
                                    CÙNG DXS TẠO RA GIÁ TRỊ GIA TĂNG
                                </h3>

                                <ul>

                                    <li>Không bán sớm với giá thấp.</li>

                                    <li>Gia tăng lợi nhuận.</li>

                                    <li>Định giá tài sản tốt hơn.</li>

                                </ul>

                            </div>

                        </div>

                        <div class="swiper-slide">

                            <div class="benefit-card">

                                <span class="card-number">2<span>/5</span></span>

                                <h3>
                                    TỐI ƯU HÓA HIỆU QUẢ TÀI CHÍNH
                                </h3>

                                <ul>

                                    <li>Không cần bỏ chi phí phát triển.</li>

                                    <li>Cam kết lợi nhuận.</li>

                                    <li>Tăng giá trị tài sản.</li>

                                </ul>

                            </div>

                        </div>

                        <div class="swiper-slide">

                            <div class="benefit-card">

                                <span class="card-number">3<span>/5</span></span>

                                <h3>
                                    RÚT NGẮN THỜI GIAN TRIỂN KHAI DỰ ÁN
                                </h3>

                                <ul>

                                    <li>Tối ưu pháp lý.</li>

                                    <li>Triển khai nhanh.</li>

                                    <li>Đưa sản phẩm ra thị trường.</li>

                                </ul>

                            </div>

                        </div>

                        <div class="swiper-slide">

                            <div class="benefit-card">

                                <span class="card-number">4<span>/5</span></span>

                                <h3>
                                    TĂNG UY TÍN DỰ ÁN
                                </h3>

                                <ul>

                                    <li>Nâng cao hình ảnh.</li>

                                    <li>Tăng niềm tin khách hàng.</li>

                                    <li>Gia tăng thanh khoản.</li>

                                </ul>

                            </div>

                        </div>

                        <div class="swiper-slide">

                            <div class="benefit-card">

                                <span class="card-number">5<span>/5</span></span>

                                <h3>
                                    MỞ RỘNG GIÁ TRỊ
                                </h3>

                                <ul>

                                    <li>Tối ưu doanh thu.</li>

                                    <li>Gia tăng hiệu quả đầu tư.</li>

                                    <li>Đồng hành lâu dài.</li>

                                </ul>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
