  <section class="history">

    <!-- Background năm -->
    <div class="history-bg-year" id="bgYear">
        2023
    </div>

    <div class="container">

        <div class="history-wrapper">

            <!-- Cột trái -->
            <div class="history-left">

                <h2>
                    <span>LỊCH SỬ</span>
                    <span>HÌNH THÀNH</span>
                </h2>

            </div>

            <!-- Cột phải -->
            <div class="history-right">

                <!-- Logo -->
                <img data-src="img/logo.png"
                     class="history-logo"
                     alt="">

                <!-- Đường timeline dọc -->
                <div class="history-line">

                    <span class="history-dot"></span>

                </div>

                <!-- Nội dung -->
                <div class="history-content">

                    <h3 id="historyYear">
                        2023
                    </h3>

                    <p id="historyText">
                        Mở rộng lĩnh vực hoạt động sang phân khúc thương mại.
                    </p>

                </div>

            </div>

        </div>

        <!-- Hình -->

        <div class="history-image">

            <img id="historyImage"
                 data-src="img/gioithieu/2020.jpg"
                 alt="">

        </div>

        <!-- Timeline -->

        <div class="history-timeline">

            <button class="timeline-btn prev">

                &#10094;

            </button>

            <div class="timeline-list">

                <button class="year-item" data-index="0">
                    2009
                </button>

                <button class="year-item" data-index="1">
                    2010
                </button>

                <button class="year-item" data-index="2">
                    2011
                </button>

                <button class="year-item" data-index="3">
                    2016
                </button>

                <button class="year-item" data-index="4">
                    2018
                </button>

                <button class="year-item" data-index="5">
                    2019
                </button>

                <button class="year-item" data-index="6">
                    2020
                </button>

                <button class="year-item" data-index="7">
                    2021
                </button>

                <button class="year-item active" data-index="8">
                    2023
                </button>

                <button class="year-item" data-index="9">
                    2024
                </button>

                <button class="year-item" data-index="10">
                    2025
                </button>

            </div>

            <button class="timeline-btn next">

                &#10095;

            </button>

        </div>

    </div>

</section>
