<section class="vision-section">

    <div class="container">

        <div class="vision-top">
            <h2>TẦM NHÌN</h2>
            <p>Nhà Phát triển dự án số 1 Việt Nam và khu vực.</p>
        </div>

        <div class="vision-content">

            <!-- SỨ MỆNH -->
            <div class="vision-item mission">

                <h2>SỨ MỆNH</h2>

                <p>
                    Cung cấp giải pháp phát triển dự án toàn diện
                    cho Chủ đầu tư - Chủ đất.
                </p>

            </div>

            <!-- ẢNH -->
            <div class="vision-image">

                <img data-src="img/dich-vu-4.jpg"
                     class="vision-img active"
                     id="imgDefault">

                <img data-src="img/the-prive.jpg"
                     class="vision-img"
                     id="imgMission">

                <img data-src="img/dich-vu-1.jpg"
                     class="vision-img"
                     id="imgValue">

            </div>

            <!-- GIÁ TRỊ CỐT LÕI -->
            <div data-include="components/core-values.html"></div>

        </div>

    </div>

</section>
