<section class="featured-news">

    <div class="container">

        <h2 class="section-title">
            <span>TIN TỨC</span>
            <span class="orange">NỔI BẬT</span>
        </h2>

        <div class="news-wrapper">

            <!-- LEFT -->
            <div class="news-left">

                <img data-src="img/DSC08874-scaled.jpg" alt="">

            </div>

            <!-- CENTER -->
            <div class="news-center">

                <h3>
                    ĐHĐCĐ Dat Xanh Services (DXS):
                    Chuyển đổi mô hình, định vị chiến lược
                    tăng trưởng bền vững
                </h3>

                <p>
                    Sáng ngày 24/4/2026, CTCP Dịch vụ Bất động sản
                    Đất Xanh (HOSE: DXS) tổ chức thành công
                    ĐHĐCĐ thường niên theo hình thức trực tuyến...
                </p>

                <a href="#" class="news-btn">

                    <span>Xem thêm</span>

                    <i class="fa-solid fa-arrow-right"></i>

                </a>

            </div>

            <!-- RIGHT -->
            <div class="news-right">

                <div class="news-item">

                    <img data-src="img/Untitled-1-730x485.png">

                    <div>

                        <h4>
                            Dat Xanh Services ghi nhận lợi nhuận
                            9 tháng đầu năm 2025 đạt 458,1 tỷ đồng
                        </h4>

                        <div class="date">

                            <i class="fa-regular fa-calendar"></i>

                            <span class="day">03</span>

                            <span>11/2025</span>

                        </div>

                    </div>

                </div>

                <div class="news-item">

                    <img data-src="img/DXS-FERI-BAO-CAO-NCTT-BDS-Q3.2025-VNM_Page_01-730x485.png">

                    <div>

                        <h4>
                            BĐS quý 3:
                            Khan hiếm nguồn cung,
                            giá nhà trung tâm TP.HCM tiếp tục leo thang
                        </h4>

                        <div class="date">

                            <i class="fa-regular fa-calendar"></i>

                            <span class="day">16</span>

                            <span>10/2025</span>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
