<section class="other-news">

    <div class="container">

        <h2 class="section-title">
            <span>TIN TỨC</span>
            <span class="orange">KHÁC</span>
        </h2>

        <div class="other-news-grid">

            <!-- Item -->
            <article class="other-news-item">

                <a href="#">
                    <img data-src="img/DXS-Le-ky-ket-hop-tac-chien-luoc-13.07-01-440x310.jpg" alt="">
                </a>

                <h3>
                    <a href="#">
                        ĐẤT XANH VÀ VIỆN KINH TẾ & QUẢN LÝ
                        TP.HCM KÝ KẾT HỢP TÁC CHIẾN LƯỢC...
                    </a>
                </h3>

                <div class="news-meta">

                    <div class="news-date">
                        <i class="fa-regular fa-calendar"></i>

                        <span class="day">14</span>

                        <span>/07/2026</span>
                    </div>

                    <span class="category">
                        Tin Đất Xanh
                    </span>

                </div>

            </article>

            <!-- Item -->

            <article class="other-news-item">

                <a href="#">
                    <img data-src="img/DX-BCNCTT-6T-2026-2-440x310.jpg" alt="">
                </a>

                <h3>
                    <a href="#">
                        THỊ TRƯỜNG BẤT ĐỘNG SẢN VIỆN NAM
                        6 THÁNG ĐẦU NĂM & DỰ BÁO 6 THÁNG...
                    </a>
                </h3>

                <div class="news-meta">

                    <div class="news-date">
                        <i class="fa-regular fa-calendar"></i>

                        <span class="day">13</span>

                        <span>/07/2026</span>
                    </div>

                    <span class="category">
                        Tin Đất Xanh
                    </span>

                </div>

            </article>

            <!-- Item -->

            <article class="other-news-item">

                <a href="#">
                    <img data-src="img/TPV-PCTT-2-GA-THU-THIEM-small-730x485.jpg" alt="">
                </a>

                <h3>
                    <a href="#">
                        Không gian sống kiểu mẫu tại tâm
                        điểm tăng trưởng TP.HCM
                    </a>
                </h3>

                <div class="news-meta">

                    <div class="news-date">

                        <i class="fa-regular fa-calendar"></i>

                        <span class="day">09</span>

                        <span>/07/2026</span>

                    </div>

                    <span class="category">
                        Tin Đất Xanh
                    </span>

                </div>

            </article>

        </div>

    </div>

</section>
