<section class="project-detail-banner">
        <div class="container detail-grid">

            <!-- Bên trái -->
            <div class="detail-left">

                <h1 class="section-title">
                    Traminco Group
                </h1>

                <p class="detail-text">
                    Đang cập nhật...
                </p>

                <div class="project-social">
                    <a href="#"><i data-lucide="facebook"></i></a>
                    <a href="#"><i data-lucide="youtube"></i></a>
                    <a href="#"><i data-lucide="music-2"></i></a>
                    <a href="#"><i data-lucide="globe"></i></a>
                </div>

                <h2 class="section-title">
                    Dịch vụ cung cấp
                </h2>

                <p class="detail-text">
                    Content, Performance
                </p>

            </div>

            <!-- Bên phải -->
            <div class="detail-right">
                <div class="project-image-box">
                    <img src="https://dummyimage.com/800x500/ffffff/e53935&text=TRAMINCO"
                        alt="Traminco Group">
                </div>
            </div>

        </div>
    </section>