<section class="section">

        <div class="container">

            <h2 class="section-title">
                Hạng mục công việc
            </h2>

            <ul class="project-work-list">
                <li>Thiết kế Website giới thiệu doanh nghiệp.</li>
                <li>Xây dựng hệ thống nhận diện thương hiệu.</li>
                <li>Thiết kế Landing Page.</li>
                <li>Quản trị Fanpage Facebook.</li>
                <li>Thiết kế Banner quảng cáo.</li>
                <li>Sáng tạo nội dung (Content Marketing).</li>
                <li>Quay dựng Video giới thiệu doanh nghiệp.</li>
            </ul>

        </div>

    </section>