<section class="project-section">

    <div class="container">
        <div class="section-title">

            <span class="sub-title">
                DỰ ÁN
            </span>

            <h2>
                DAT XANH SERVICES PHÁT TRIỂN
            </h2>

        </div>
        <div class="project-grid">

            <div class="project-card">
                <img data-src="img/symlife-phoi-canh-768x392.jpg" alt="">
                <h3>AN ĐIỀN PHÁT</h3>
            </div>

            <div class="project-card">
                <img data-src="img/kdc-dong-yen-residences-768x432.avif" alt="">
                <h3>MỸ KHÊ ANGKORA PARK</h3>
            </div>

            <div class="project-card">
                <img data-src="img/an-dien-phat-thumb-768x480.avif" alt="">
                <h3>KHU DÂN CƯ PHÚC GIA TÂN</h3>
            </div>

            <div class="project-card">
                <img data-src="img/my-khe-angkora-park-768x432.avif" alt="">
                <h3>REGAL PAVILLON</h3>
            </div>

            <div class="project-card">
                <img data-src="img/phucgiatan-768x512.jpg" alt="">
                <h3>REGAL VICTORIA</h3>
            </div>

            <div class="project-card">
                <img data-src="img/regal-pavillon-768x512.jpg" alt="">
                <h3>REGAL MAISON</h3>
            </div>

            <div class="project-card">
                <img data-src="img/regal-victoria-768x431.jpg" alt="">
                <h3>THE PEARL</h3>
            </div>

            <div class="project-card">
                <img data-src="img/regal-maison-768x439.avif" alt="">
                <h3>REGAL COMPLEX</h3>
            </div>

            <div class="project-card">
                <img data-src="img/solera-quy-nhon-thumb-768x432.webp" alt="">
                <h3>GOLDEN CITY</h3>
            </div>

        </div>

    </div>

</section>
