<section class="section">
        <div class="container">

            <h2 class="section-title">
                Hạng mục công việc
            </h2>

            <ul class="project-work-list">
                <li>Xây dựng chiến lược Marketing cho phòng khám.</li>
                <li>Thiết kế bộ nhận diện thương hiệu.</li>
                <li>Quản trị Fanpage và sáng tạo nội dung.</li>
                <li>Thiết kế Website giới thiệu dịch vụ.</li>
                <li>Quay dựng video và hình ảnh truyền thông.</li>
                <li>Triển khai quảng cáo Facebook và Google Ads.</li>
            </ul>

        </div>
    </section>