<!-- Tab lớn -->
<div class="report-tabs">

    <button class="active">Công bố kết quả kinh doanh</button>
    <button>Công bố thông tin định kỳ</button>
    <button>Công bố thông tin bất thường</button>
    <button>Tài liệu doanh nghiệp</button>

</div>

<!-- Danh sách năm -->
<div class="year-filter">

    <button class="arrow">
        <i class="fa-solid fa-caret-left"></i>
    </button>

    <button class="active">2026</button>
    <button>2025</button>
    <button>2024</button>
    <button>2023</button>
    <button>2022</button>
    <button>2021</button>
    <button>2020</button>
    <button>2019</button>
    <button>2018</button>
    <button>2017</button>

</div>
